.mi_foto{
	
	height: 124px;
    width: 114px;
    margin: auto;
    display: block;
    border-radius: 50%;

}


/*Para nivel de habilidades profesionales - Progreso Animación
 */

.div_progreso{

    background: #f44336;
    color:white;
    font-weight:bold;
    width: 0;
    margin: 4px;
    border-radius: 3px;
    padding:10px

}